@{
    ViewData["Title"] = "Home";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Ea ipsa dolores nemo voluptatem qui rerum saepe soluta. Aut possimus pariatur odit repellat explicabo in. Recusandae at porro eos recusandae id.</p>
