@{
    ViewData["Title"] = "Privacy Policy";
}

<h2>@ViewData["Title"]</h2>

<p>Ea ipsa dolores nemo voluptatem qui rerum saepe soluta. Aut possimus pariatur odit repellat explicabo in. Recusandae at porro eos recusandae id.</p>
